<article class="film-details">
    <section class="crawl">
        <header>
            <h1><%= @film.title %></h1>
        </header>
        <div class="centered-block">
            <%= simple_format(@film.opening_crawl) %>
        </div>
    </section>

    <section class="banner">
        <img src="/assets/banners/episode-<%= @film.episode_id %>.gif" />
    </section>

    <section class="centered-block details">
        <header>
            <h2>Details</h2>
        </header>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--5-col">
                <img class="film-cover" src="/assets/episode-<%= @film.episode_id %>.jpg" />
            </div>
            <div class="mdl-cell mdl-cell--5-col">
                <dl>
                    <dt>Director(s)</dt>
                    <dd><%= @film.director %></dd>
                    <dt>Producer(s)</dt>
                    <dd><%= @film.producer %></dd>
                    <dt>Release Date</dt>
                    <dd><%= @film.release_date %></dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="characters">
        <header>
            <h2>Characters</h2>
        </header>

        <div class="mdl-grid centered-block">
            <% @characters.each do |person| %>
                <div class="mdl-cell mdl-card mdl-shadow--4dp character">
                    <div class="mdl-card__title">
                        <h4><%= person.name %></h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <dl>
                            <dt>Born</dt>
                            <dd><%= person.birth_year %></dd>
                            <dt>Hair color</dt>
                            <dd><%= person.hair_color %></dd>
                            <dt>Eye color</dt>
                            <dd><%= person.eye_color %></dt>
                            <dt>Height</dt>
                            <dd><%= person.height %></dd>
                            <dt>Mass</dt>
                            <dd><%= person.mass %></dd>
                        </dl>
                    </div>
                </div>
            <% end %>
        </div>
    </section>
</article>
